.showScheduleParentDiv{
    height: 200px;
    background-color: rgb(176, 116, 176);
    width: 400px;
    margin: auto;
    padding: 10px;
}

.sameClassCss{
    margin-left: 30px;
}
.headings{
    display: flex;
    border: 2px solid black;
    border-radius: 5px;
}
.valuesDiv{
    margin-top: 5px;
    display: flex;
    border: 2px solid black;
    border-radius: 5px;
}
.values{
    margin-left: 50px;
}